{
  "openapi": "3.1.0",
  "info": {
    "title": "LingoChunk Public API",
    "description": "The LingoChunk public API. Read your FSRS-graded vocabulary, look words up, browse your library, pull sliced transcripts and native audio, search your listening history, and cut audio clips.\n\nWrite, too: upload audio recordings for processing (optionally publishing them into a collection you own), add vocabulary and custom cards to your decks, export a deck to Anki, and save a generated HTML lesson to your library.\n\nAuthenticate with a personal access token created in your account settings: send it as `Authorization: Bearer lcp_...`. Each endpoint requires a scope, granted to the token at creation.",
    "version": "1.8"
  },
  "servers": [
    {
      "url": "https://lingochunk.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/vocab": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "List Vocab",
        "description": "List the learner's vocabulary, aggregated per word, with FSRS maturity.\n\nThe per-word state is grounded in the user's real listening content. Use\n``since`` (with the ``updated_at`` from a prior response) plus ``cursor`` for\nincremental sync.\n\nIncremental sync is ADDITIVE-ONLY: ``since`` surfaces new and changed words\nbut carries no deletion signal, so a word the user later removes will not\nappear as \"deleted\". Clients that must stay exactly in step should do a\nperiodic full resync (call without ``since``) and treat that as authoritative.\n\n**Requires scope:** `vocab:read`",
        "operationId": "list_vocab_api_v1_vocab_get",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to one learning language (ISO 639-1)",
              "title": "Language"
            },
            "description": "Filter to one learning language (ISO 639-1)"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "known",
                    "learning",
                    "new",
                    "due"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by learning status derived from FSRS state",
              "title": "Status"
            },
            "description": "Filter by learning status derived from FSRS state"
          },
          {
            "name": "cefr",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by CEFR level (A1-C2)",
              "title": "Cefr"
            },
            "description": "Filter by CEFR level (A1-C2)"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Return only words changed at/after this ISO 8601 time (incremental sync)",
              "title": "Since"
            },
            "description": "Return only words changed at/after this ISO 8601 time (incremental sync)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Max items per page",
              "default": 50,
              "title": "Limit"
            },
            "description": "Max items per page"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque cursor from a previous page's next_cursor",
              "title": "Cursor"
            },
            "description": "Opaque cursor from a previous page's next_cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VocabularyListV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "vocab:read"
        ]
      }
    },
    "/api/v1/vocab/lookup": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Lookup Word",
        "description": "Look up one word: the learner's own context first, then the shared\nenrichment lexicon as a gender/CEFR fallback. 404 only when neither knows it.\n\n**Requires scope:** `vocab:read`",
        "operationId": "lookup_word_api_v1_vocab_lookup_get",
        "parameters": [
          {
            "name": "lemma",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Dictionary form to look up",
              "title": "Lemma"
            },
            "description": "Dictionary form to look up"
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Language of the word (ISO 639-1)",
              "title": "Language"
            },
            "description": "Language of the word (ISO 639-1)"
          },
          {
            "name": "pos",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Part of speech, if known",
              "title": "Pos"
            },
            "description": "Part of speech, if known"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VocabularyLookupV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "vocab:read"
        ]
      }
    },
    "/api/v1/library": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "List Library",
        "description": "List READY submissions in the learner's library (own + followed/member\ncollections), newest first.\n\nKeyset-paginated on (created_at, id): pass the previous page's\n``next_cursor`` to fetch the next page (same convention as ``/vocab``).\n\n**Requires scope:** `content:read`",
        "operationId": "list_library_api_v1_library_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Max items per page",
              "default": 50,
              "title": "Limit"
            },
            "description": "Max items per page"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque cursor from a previous page's next_cursor",
              "title": "Cursor"
            },
            "description": "Opaque cursor from a previous page's next_cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryListV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "content:read"
        ]
      }
    },
    "/api/v1/submissions/{submission_id}/transcript": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Get Transcript Slice",
        "description": "Return a submission's transcript, optionally sliced by sentence-position\nrange and/or time range.\n\nAccess mirrors the internal app: 404 for anything the caller cannot read.\nThe ``transcript_state`` field distinguishes a genuinely empty slice from a\nsubmission that is still processing (``processing``) or ready but with no\ntranscript on file (``unavailable``), so a not-ready submission never looks\nlike an empty transcript.\n\n**Requires scope:** `content:read`",
        "operationId": "get_transcript_slice_api_v1_submissions__submission_id__transcript_get",
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Submission Id"
            }
          },
          {
            "name": "from_sentence",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "First sentence position to include (inclusive)",
              "title": "From Sentence"
            },
            "description": "First sentence position to include (inclusive)"
          },
          {
            "name": "to_sentence",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Last sentence position to include (inclusive)",
              "title": "To Sentence"
            },
            "description": "Last sentence position to include (inclusive)"
          },
          {
            "name": "from_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Include sentences overlapping at/after this (s)",
              "title": "From Time"
            },
            "description": "Include sentences overlapping at/after this (s)"
          },
          {
            "name": "to_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Include sentences overlapping at/before this (s)",
              "title": "To Time"
            },
            "description": "Include sentences overlapping at/before this (s)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptSliceV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "content:read"
        ]
      }
    },
    "/api/v1/submissions/{submission_id}/audio-url": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Get Audio Url",
        "description": "Return a short-lived presigned URL to the native audio (Range-capable).\n\n**Requires scope:** `content:read`",
        "operationId": "get_audio_url_api_v1_submissions__submission_id__audio_url_get",
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Submission Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioUrlV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "content:read"
        ]
      }
    },
    "/api/v1/sentences/search": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Search Sentences",
        "description": "Search the caller's readable library for sentences.\n\n``lemma`` returns the curated example sentences linked to that word - a\nsubset of every occurrence, but the good, hand-picked ones - matched\ncase-insensitively. ``q`` does a case-insensitive substring match on\nsentence text. At least one of the two is required.\n\nResults are a capped SAMPLE, not an exhaustive set: there is no pagination\nand no completeness guarantee. Raise ``limit`` (up to 100) for more, or use\na more specific query.\n\n**Requires scope:** `content:read`",
        "operationId": "search_sentences_api_v1_sentences_search_get",
        "parameters": [
          {
            "name": "lemma",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "null"
                }
              ],
              "description": "Find example sentences for this dictionary form",
              "title": "Lemma"
            },
            "description": "Find example sentences for this dictionary form"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "null"
                }
              ],
              "description": "Case-insensitive substring match on sentence text",
              "title": "Q"
            },
            "description": "Case-insensitive substring match on sentence text"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict to one learning language (ISO 639-1)",
              "title": "Language"
            },
            "description": "Restrict to one learning language (ISO 639-1)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Max hits returned (a capped sample, not exhaustive)",
              "default": 20,
              "title": "Limit"
            },
            "description": "Max hits returned (a capped sample, not exhaustive)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentenceSearchV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "content:read"
        ]
      }
    },
    "/api/v1/submissions/{submission_id}/clip": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Get Audio Clip",
        "description": "Return a native-audio snippet of [start, end] as an audio file.\n\nRepeat requests for the same span are served from cache. Rate limited per\ntoken (30/hour) AND per user (60/hour). May return 503 when clip generation\nis temporarily unavailable and the clip is not already cached. The response\nmedia type follows the source audio (audio/mp4, audio/mpeg, audio/webm,\naudio/wav or audio/ogg).\n\n**Requires scope:** `content:read`",
        "operationId": "get_audio_clip_api_v1_submissions__submission_id__clip_get",
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Submission Id"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Clip start in seconds",
              "title": "Start"
            },
            "description": "Clip start in seconds"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "Clip end in seconds",
              "title": "End"
            },
            "description": "Clip end in seconds"
          }
        ],
        "responses": {
          "200": {
            "description": "The audio clip",
            "content": {
              "audio/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/webm": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/ogg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "503": {
            "description": "Audio clipping is unavailable on this server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "content:read"
        ]
      }
    },
    "/api/v1/decks": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "List Decks",
        "description": "List the caller's study decks so a client can pick a deck_id to add cards\nto or to export. Reachable with cards:write OR decks:export.\n\n**Requires one of:** `cards:write`, `decks:export`",
        "operationId": "list_decks_api_v1_decks_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeckListV1"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": {
          "anyOf": [
            "cards:write",
            "decks:export"
          ]
        }
      }
    },
    "/api/v1/cards": {
      "post": {
        "tags": [
          "public-v1"
        ],
        "summary": "Add Card",
        "description": "Add a card to the learner's study deck. The new card enters review as\n'new'; existing cards are left untouched. 409 when an identical card already\nexists (legacy bodies). Bodies with ``format: \"card.v1\"`` take the\ndeclarative card.v1 path: verified transcript anchors, server-derived\nhighlight/blur and native-audio clip, idempotent upsert, and a\n``problems`` list reporting anything that was degraded.\n\n**Requires scope:** `cards:write`",
        "operationId": "add_card_api_v1_cards_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/CardV1Request"
                  },
                  {
                    "$ref": "#/components/schemas/AddCardRequest"
                  }
                ],
                "title": "Body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardResultV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "409": {
            "description": "Conflict; the ErrorV1 `code` names the case",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "cards:write"
        ]
      }
    },
    "/api/v1/decks/{deck_id}/export": {
      "post": {
        "tags": [
          "public-v1"
        ],
        "summary": "Export Deck",
        "description": "Trigger an Anki (.apkg) export of the deck. Free to run; it reuses the\ndeck's existing enrichment (no new processing). Returns immediately as\n'ready' when a fresh .apkg is already cached, otherwise 'queued'.\nRe-requesting while a job is already in flight returns 'queued' without\nstarting a second job. Poll the status route for the URL.\n\n**Requires scope:** `decks:export`",
        "operationId": "export_deck_api_v1_decks__deck_id__export_post",
        "parameters": [
          {
            "name": "deck_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Deck Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeckExportStartV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "503": {
            "description": "The export could not be queued on this server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "decks:export"
        ]
      }
    },
    "/api/v1/decks/{deck_id}/export/status": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Export Deck Status",
        "description": "Poll a deck export. 'ready' carries a presigned direct download URL for the\n.apkg; 'pending' means generation is in flight; 'failed' means retry; 'none'\nmeans nothing to download (never triggered, or a finished job whose .apkg was\nsince invalidated) - re-trigger the export.\n\n**Requires scope:** `decks:export`",
        "operationId": "export_deck_status_api_v1_decks__deck_id__export_status_get",
        "parameters": [
          {
            "name": "deck_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Deck Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeckExportStatusV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "decks:export"
        ]
      }
    },
    "/api/v1/lessons": {
      "post": {
        "tags": [
          "public-v1"
        ],
        "summary": "Create Lesson",
        "description": "Save a lesson to the learner's library: either a self-contained HTML\nfile (stored in object storage, only ever served via a presigned URL,\nnever from the app origin) or a structured lesson.v1 document (validated\nagainst its source submission and rendered natively in the app).\n\n**Requires scope:** `lessons:write`",
        "operationId": "create_lesson_api_v1_lessons_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LessonCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LessonCreatedV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "409": {
            "description": "Conflict; the ErrorV1 `code` names the case",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size cap",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "lessons:write"
        ]
      },
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "List Lessons",
        "description": "List the caller's saved lessons, newest first (cursor-paginated).\n\n**Requires scope:** `lessons:write`",
        "operationId": "list_lessons_api_v1_lessons_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Max items per page",
              "default": 50,
              "title": "Limit"
            },
            "description": "Max items per page"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque cursor from a previous page's next_cursor",
              "title": "Cursor"
            },
            "description": "Opaque cursor from a previous page's next_cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LessonListV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "lessons:write"
        ]
      }
    },
    "/api/v1/lessons/validate": {
      "post": {
        "tags": [
          "public-v1"
        ],
        "summary": "Validate Lesson",
        "description": "Dry-run validate a lesson.v1 document WITHOUT saving it.\n\nReturns 200 with ``{valid, errors, unknown_lemmas}`` and reports EVERY\nfailing category at once - schema violations (one entry per pydantic error,\nwith a dotted ``loc``) and reference/gate violations (the same stable codes\nthe save route raises: youtube_disabled, unknown_positions,\nposition_outside_slice, audio_outside_episode, audio_outside_slice,\ndialogue_mismatch, order_mismatch) - so an agent can fix a whole document in\none pass instead of burning save -> 400 -> fix cycles that only surface the\nfirst problem.\n\nRuns no persistence and consumes no lesson-cap budget (so it succeeds even\nat the cap). The transcript queries it runs are bounded by the standard\nper-token / per-user surface rate limits; it deliberately does NOT consume\nthe save route's storage-spam write limiter, since it stores nothing and is\nmeant to be called repeatedly before a single save.\n\n404 if the source submission is not accessible; 400 for a body that is not a\nlesson.v1 ``document`` (e.g. the legacy ``html`` save variant); 413 for a\ndocument past the size cap.\n\n**Requires scope:** `lessons:write`",
        "operationId": "validate_lesson_api_v1_lessons_validate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LessonValidateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LessonValidationV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size cap",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "lessons:write"
        ]
      }
    },
    "/api/v1/lessons/{lesson_id}/document": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Get Lesson Document Route",
        "description": "Read back a native lesson.v1 document (404 for HTML lessons, which have\nno document). Closes the loop for agents: read the document, revise it, and\nPUT it back to the same lesson. Without this route an agent could save and\nlist lessons but never see what it (or an earlier session) wrote.\n\nReadable by the owner, and by a viewer of the source submission when the\nlesson is published (visibility='public') or is a section lesson of a\nshared guided path — the same rule as the in-app reads, so a shared path's\n``lesson_id``s from the guided GET are fetchable here. Editing (the PUT)\nstays owner-only.\n\nThe ``X-Lesson-Version`` response header carries the lesson's\noptimistic-concurrency token; echo it verbatim as the update's\n``base_version`` so a concurrent edit is rejected (409 ``stale_document``)\ninstead of silently overwritten.\n\n**Requires scope:** `lessons:write`",
        "operationId": "get_lesson_document_route_api_v1_lessons__lesson_id__document_get",
        "parameters": [
          {
            "name": "lesson_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lesson Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LessonDocumentV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "lessons:write"
        ]
      },
      "put": {
        "tags": [
          "public-v1"
        ],
        "summary": "Update Lesson Document Route",
        "description": "Replace a native lesson.v1 document in place (owner only).\n\nThe full replacement document is validated exactly like a save (schema +\nreferences against the source submission) and overwrites the stored\nobject; the lesson keeps its id, visibility, course and creation time.\nThe document must keep its original ``source.submission_id`` (400\n``submission_mismatch`` otherwise) - a lesson on a different episode is a\nnew lesson. 409 ``lesson_not_document`` for HTML lessons, which have no\ndocument to edit.\n\nPass ``base_version`` (the ``X-Lesson-Version`` token this edit is based\non, echoed verbatim) to reject a concurrent edit with 409\n``stale_document`` instead of overwriting it; the response's\n``X-Lesson-Version`` header carries the NEW token for chained edits.\n\n**Requires scope:** `lessons:write`",
        "operationId": "update_lesson_document_route_api_v1_lessons__lesson_id__document_put",
        "parameters": [
          {
            "name": "lesson_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lesson Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LessonUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LessonUpdatedV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "409": {
            "description": "Conflict; the ErrorV1 `code` names the case",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size cap",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "lessons:write"
        ]
      }
    },
    "/api/v1/lessons/{lesson_id}/view-url": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Lesson View Url Route",
        "description": "Mint a short-lived URL to open the lesson (owner only, HTML format\nonly - native documents open in the app). The HTML is served inline as\ntext/html from the storage origin, isolated from the app.\n\n**Requires scope:** `lessons:write`",
        "operationId": "lesson_view_url_route_api_v1_lessons__lesson_id__view_url_get",
        "parameters": [
          {
            "name": "lesson_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lesson Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LessonViewUrlV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "lessons:write"
        ]
      }
    },
    "/api/v1/lessons/{lesson_id}": {
      "delete": {
        "tags": [
          "public-v1"
        ],
        "summary": "Delete Lesson Route",
        "description": "Delete one lesson: its stored HTML object and its row (owner only).\n\n**Requires scope:** `lessons:write`",
        "operationId": "delete_lesson_route_api_v1_lessons__lesson_id__delete",
        "parameters": [
          {
            "name": "lesson_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lesson Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "lessons:write"
        ]
      }
    },
    "/api/v1/courses": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "List Courses",
        "description": "List the caller's courses, newest first, each with its lesson count.\n\n**Requires scope:** `lessons:write`",
        "operationId": "list_courses_api_v1_courses_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseListV1"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "lessons:write"
        ]
      },
      "post": {
        "tags": [
          "public-v1"
        ],
        "summary": "Create Course",
        "description": "Create a course to group lessons into an ordered series.\n\n**Requires scope:** `lessons:write`",
        "operationId": "create_course_api_v1_courses_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourseCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "lessons:write"
        ]
      }
    },
    "/api/v1/courses/{course_id}": {
      "delete": {
        "tags": [
          "public-v1"
        ],
        "summary": "Delete Course",
        "description": "Delete a course (owner only). Its lessons survive - their ``course_id``\nis set NULL by the database, un-grouping them. 404 if the course is not\nyours or does not exist.\n\n**Requires scope:** `lessons:write`",
        "operationId": "delete_course_api_v1_courses__course_id__delete",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Course Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "lessons:write"
        ]
      }
    },
    "/api/v1/submissions": {
      "post": {
        "tags": [
          "public-v1"
        ],
        "summary": "Create Submission",
        "description": "Upload an audio recording and queue it for processing (transcription,\nchunking, vocabulary enrichment). Accepts any audio format ffmpeg can\ndecode, including the ``audio/webm`` (Opus) files that MediaRecorder\nproduces. Poll ``/v1/submissions/{id}/status`` until ``ready``.\n\nUploads count against your plan's daily-submission and monthly audio\nquotas, and the file must be within your plan's size and duration caps.\n\n**Requires scope:** `submissions:write`",
        "operationId": "create_submission_api_v1_submissions_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_submission_api_v1_submissions_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionCreatedV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size cap",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "503": {
            "description": "Uploads temporarily paused (service under elevated load)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "submissions:write"
        ]
      }
    },
    "/api/v1/submissions/{submission_id}/status": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Submission Status",
        "description": "Processing status of one of your submissions. Owner-only — this is the\npoll target after an upload, unlike the content:read endpoints which also\nserve published collection content.\n\n**Requires scope:** `submissions:write`",
        "operationId": "submission_status_api_v1_submissions__submission_id__status_get",
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Submission Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionStatusV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "submissions:write"
        ]
      }
    },
    "/api/v1/collections": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "List Collections",
        "description": "The collections you may publish a submission to: the ones you own\n(admins additionally see every collection, mirroring the app's publish\npicker). Use a slug from here as the ``collection`` field of an upload.\n\n**Requires scope:** `submissions:write`",
        "operationId": "list_collections_api_v1_collections_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionListV1"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "submissions:write"
        ]
      }
    },
    "/api/v1/submissions/{submission_id}/languages": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "List Submission Languages",
        "description": "The language landscape of one of your lessons: which languages it already\nexists in, which ordinary targets can be added via the Groq fan-out, which\nleveled same-language targets can be drafted, and any drafts in progress.\n\n**Requires scope:** `content:read`",
        "operationId": "list_submission_languages_api_v1_submissions__submission_id__languages_get",
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Submission Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionLanguagesV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "content:read"
        ]
      },
      "post": {
        "tags": [
          "public-v1"
        ],
        "summary": "Add Languages",
        "description": "Trigger the internal Groq fan-out for ordinary target languages. Returns\none job id per enqueued language (poll /v1/jobs/{job_id}); leveled\npseudo-codes are skipped with reason ``agent_only_target`` (use the draft\nflow for those). No email is sent.\n\n**Requires scope:** `translations:write`",
        "operationId": "add_languages_api_v1_submissions__submission_id__languages_post",
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Submission Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddLanguagesRequestV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddLanguagesResultV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "translations:write"
        ]
      }
    },
    "/api/v1/submissions/{submission_id}/translation-source": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Get Translation Source",
        "description": "A page of source sentences to translate: the source text, the pivot\ntranslation, and the ordered tokens with their pivot meanings. Page with\n``from_position`` / ``next_from_position``. Only a READY primary submission\nis a valid source.\n\n**Requires scope:** `content:read`",
        "operationId": "get_translation_source_api_v1_submissions__submission_id__translation_source_get",
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Submission Id"
            }
          },
          {
            "name": "from_position",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "From Position"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationSourceV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "409": {
            "description": "Conflict; the ErrorV1 `code` names the case",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "content:read"
        ]
      }
    },
    "/api/v1/submissions/{submission_id}/translations/{language}": {
      "put": {
        "tags": [
          "public-v1"
        ],
        "summary": "Put Translations",
        "description": "Upsert a batch (1..100) of drafted sentences for one language. Each\nsentence is validated against the primary's real tokens; an invalid sentence\nis rejected individually (with a reason) while the rest are stored. Re-PUT a\nposition to replace it.\n\n**Requires scope:** `translations:write`",
        "operationId": "put_translations_api_v1_submissions__submission_id__translations__language__put",
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Submission Id"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Language"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutTranslationsRequestV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutTranslationsResultV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "409": {
            "description": "Conflict; the ErrorV1 `code` names the case",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
[...]
