{
  "openapi": "3.1.0",
  "info": {
    "title": "LingoChunk Public API",
    "description": "The LingoChunk public API. Read your FSRS-graded vocabulary, look words up, browse your library, pull sliced transcripts and native audio, search your listening history, and cut audio clips.\n\nWrite, too: add vocabulary and custom cards to your decks, export a deck to Anki, and save a generated HTML lesson to your library.\n\nAuthenticate with a personal access token created in your account settings: send it as `Authorization: Bearer lcp_...`. Each endpoint requires a scope, granted to the token at creation.",
    "version": "1.1"
  },
  "servers": [
    {
      "url": "https://lingochunk.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/vocab": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "List Vocab",
        "description": "List the learner's vocabulary, aggregated per word, with FSRS maturity.\n\nThe per-word state is grounded in the user's real listening content. Use\n``since`` (with the ``updated_at`` from a prior response) plus ``cursor`` for\nincremental sync.\n\nIncremental sync is ADDITIVE-ONLY: ``since`` surfaces new and changed words\nbut carries no deletion signal, so a word the user later removes will not\nappear as \"deleted\". Clients that must stay exactly in step should do a\nperiodic full resync (call without ``since``) and treat that as authoritative.\n\n**Requires scope:** `vocab:read`",
        "operationId": "list_vocab_api_v1_vocab_get",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to one learning language (ISO 639-1)",
              "title": "Language"
            },
            "description": "Filter to one learning language (ISO 639-1)"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "known",
                    "learning",
                    "new",
                    "due"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by learning status derived from FSRS state",
              "title": "Status"
            },
            "description": "Filter by learning status derived from FSRS state"
          },
          {
            "name": "cefr",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by CEFR level (A1-C2)",
              "title": "Cefr"
            },
            "description": "Filter by CEFR level (A1-C2)"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Return only words changed at/after this ISO 8601 time (incremental sync)",
              "title": "Since"
            },
            "description": "Return only words changed at/after this ISO 8601 time (incremental sync)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Max items per page",
              "default": 50,
              "title": "Limit"
            },
            "description": "Max items per page"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque cursor from a previous page's next_cursor",
              "title": "Cursor"
            },
            "description": "Opaque cursor from a previous page's next_cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VocabularyListV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "vocab:read"
        ]
      }
    },
    "/api/v1/vocab/lookup": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Lookup Word",
        "description": "Look up one word: the learner's own context first, then the shared\nenrichment lexicon as a gender/CEFR fallback. 404 only when neither knows it.\n\n**Requires scope:** `vocab:read`",
        "operationId": "lookup_word_api_v1_vocab_lookup_get",
        "parameters": [
          {
            "name": "lemma",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Dictionary form to look up",
              "title": "Lemma"
            },
            "description": "Dictionary form to look up"
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Language of the word (ISO 639-1)",
              "title": "Language"
            },
            "description": "Language of the word (ISO 639-1)"
          },
          {
            "name": "pos",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Part of speech, if known",
              "title": "Pos"
            },
            "description": "Part of speech, if known"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VocabularyLookupV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "vocab:read"
        ]
      }
    },
    "/api/v1/library": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "List Library",
        "description": "List READY submissions in the learner's library (own + followed\ncollections), newest first.\n\nKeyset-paginated on (created_at, id): pass the previous page's\n``next_cursor`` to fetch the next page (same convention as ``/vocab``).\n\n**Requires scope:** `content:read`",
        "operationId": "list_library_api_v1_library_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Max items per page",
              "default": 50,
              "title": "Limit"
            },
            "description": "Max items per page"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque cursor from a previous page's next_cursor",
              "title": "Cursor"
            },
            "description": "Opaque cursor from a previous page's next_cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryListV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "content:read"
        ]
      }
    },
    "/api/v1/submissions/{submission_id}/transcript": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Get Transcript Slice",
        "description": "Return a submission's transcript, optionally sliced by sentence-position\nrange and/or time range.\n\nAccess mirrors the internal app: 404 for anything the caller cannot read.\nThe ``transcript_state`` field distinguishes a genuinely empty slice from a\nsubmission that is still processing (``processing``) or ready but with no\ntranscript on file (``unavailable``), so a not-ready submission never looks\nlike an empty transcript.\n\n**Requires scope:** `content:read`",
        "operationId": "get_transcript_slice_api_v1_submissions__submission_id__transcript_get",
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Submission Id"
            }
          },
          {
            "name": "from_sentence",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "First sentence position to include (inclusive)",
              "title": "From Sentence"
            },
            "description": "First sentence position to include (inclusive)"
          },
          {
            "name": "to_sentence",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Last sentence position to include (inclusive)",
              "title": "To Sentence"
            },
            "description": "Last sentence position to include (inclusive)"
          },
          {
            "name": "from_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Include sentences overlapping at/after this (s)",
              "title": "From Time"
            },
            "description": "Include sentences overlapping at/after this (s)"
          },
          {
            "name": "to_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Include sentences overlapping at/before this (s)",
              "title": "To Time"
            },
            "description": "Include sentences overlapping at/before this (s)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptSliceV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "content:read"
        ]
      }
    },
    "/api/v1/submissions/{submission_id}/audio-url": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Get Audio Url",
        "description": "Return a short-lived presigned URL to the native audio (Range-capable).\n\n**Requires scope:** `content:read`",
        "operationId": "get_audio_url_api_v1_submissions__submission_id__audio_url_get",
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Submission Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioUrlV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "content:read"
        ]
      }
    },
    "/api/v1/sentences/search": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Search Sentences",
        "description": "Search the caller's readable library for sentences.\n\n``lemma`` returns the curated example sentences linked to that word - a\nsubset of every occurrence, but the good, hand-picked ones - matched\ncase-insensitively. ``q`` does a case-insensitive substring match on\nsentence text. At least one of the two is required.\n\nResults are a capped SAMPLE, not an exhaustive set: there is no pagination\nand no completeness guarantee. Raise ``limit`` (up to 100) for more, or use\na more specific query.\n\n**Requires scope:** `content:read`",
        "operationId": "search_sentences_api_v1_sentences_search_get",
        "parameters": [
          {
            "name": "lemma",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "null"
                }
              ],
              "description": "Find example sentences for this dictionary form",
              "title": "Lemma"
            },
            "description": "Find example sentences for this dictionary form"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 200
                },
                {
                  "type": "null"
                }
              ],
              "description": "Case-insensitive substring match on sentence text",
              "title": "Q"
            },
            "description": "Case-insensitive substring match on sentence text"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict to one learning language (ISO 639-1)",
              "title": "Language"
            },
            "description": "Restrict to one learning language (ISO 639-1)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Max hits returned (a capped sample, not exhaustive)",
              "default": 20,
              "title": "Limit"
            },
            "description": "Max hits returned (a capped sample, not exhaustive)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentenceSearchV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "content:read"
        ]
      }
    },
    "/api/v1/submissions/{submission_id}/clip": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Get Audio Clip",
        "description": "Return a native-audio snippet of [start, end] as an audio file.\n\nRepeat requests for the same span are served from cache. Rate limited per\ntoken (30/hour) AND per user (60/hour). May return 503 when clip generation\nis temporarily unavailable and the clip is not already cached. The response\nmedia type follows the source audio (audio/mp4, audio/mpeg, audio/webm,\naudio/wav or audio/ogg).\n\n**Requires scope:** `content:read`",
        "operationId": "get_audio_clip_api_v1_submissions__submission_id__clip_get",
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Submission Id"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Clip start in seconds",
              "title": "Start"
            },
            "description": "Clip start in seconds"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "Clip end in seconds",
              "title": "End"
            },
            "description": "Clip end in seconds"
          }
        ],
        "responses": {
          "200": {
            "description": "The audio clip",
            "content": {
              "audio/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/webm": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/ogg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "503": {
            "description": "Audio clipping is unavailable on this server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "content:read"
        ]
      }
    },
    "/api/v1/decks": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "List Decks",
        "description": "List the caller's study decks so a client can pick a deck_id to add cards\nto or to export. Reachable with cards:write OR decks:export.\n\n**Requires one of:** `cards:write`, `decks:export`",
        "operationId": "list_decks_api_v1_decks_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeckListV1"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": {
          "anyOf": [
            "cards:write",
            "decks:export"
          ]
        }
      }
    },
    "/api/v1/cards": {
      "post": {
        "tags": [
          "public-v1"
        ],
        "summary": "Add Card",
        "description": "Add a card to the learner's study deck. The new card enters review as\n'new'; existing cards are left untouched. 409 when an identical card already\nexists (legacy bodies). Bodies with ``format: \"card.v1\"`` take the\ndeclarative card.v1 path: verified transcript anchors, server-derived\nhighlight/blur and native-audio clip, idempotent upsert, and a\n``problems`` list reporting anything that was degraded.\n\n**Requires scope:** `cards:write`",
        "operationId": "add_card_api_v1_cards_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/CardV1Request"
                  },
                  {
                    "$ref": "#/components/schemas/AddCardRequest"
                  }
                ],
                "title": "Body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardResultV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "409": {
            "description": "Conflict; the ErrorV1 `code` names the case",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "cards:write"
        ]
      }
    },
    "/api/v1/decks/{deck_id}/export": {
      "post": {
        "tags": [
          "public-v1"
        ],
        "summary": "Export Deck",
        "description": "Trigger an Anki (.apkg) export of the deck. Free to run; it reuses the\ndeck's existing enrichment (no new processing). Returns immediately as\n'ready' when a fresh .apkg is already cached, otherwise 'queued'.\nRe-requesting while a job is already in flight returns 'queued' without\nstarting a second job. Poll the status route for the URL.\n\n**Requires scope:** `decks:export`",
        "operationId": "export_deck_api_v1_decks__deck_id__export_post",
        "parameters": [
          {
            "name": "deck_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Deck Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeckExportStartV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "503": {
            "description": "The export could not be queued on this server",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "decks:export"
        ]
      }
    },
    "/api/v1/decks/{deck_id}/export/status": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Export Deck Status",
        "description": "Poll a deck export. 'ready' carries a presigned direct download URL for the\n.apkg; 'pending' means generation is in flight; 'failed' means retry; 'none'\nmeans nothing to download (never triggered, or a finished job whose .apkg was\nsince invalidated) - re-trigger the export.\n\n**Requires scope:** `decks:export`",
        "operationId": "export_deck_status_api_v1_decks__deck_id__export_status_get",
        "parameters": [
          {
            "name": "deck_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Deck Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeckExportStatusV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "decks:export"
        ]
      }
    },
    "/api/v1/lessons": {
      "post": {
        "tags": [
          "public-v1"
        ],
        "summary": "Create Lesson",
        "description": "Save a lesson to the learner's library: either a self-contained HTML\nfile (stored in object storage, only ever served via a presigned URL,\nnever from the app origin) or a structured lesson.v1 document (validated\nagainst its source submission and rendered natively in the app).\n\n**Requires scope:** `lessons:write`",
        "operationId": "create_lesson_api_v1_lessons_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LessonCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LessonCreatedV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "409": {
            "description": "Conflict; the ErrorV1 `code` names the case",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size cap",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "lessons:write"
        ]
      },
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "List Lessons",
        "description": "List the caller's saved lessons, newest first (cursor-paginated).\n\n**Requires scope:** `lessons:write`",
        "operationId": "list_lessons_api_v1_lessons_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Max items per page",
              "default": 50,
              "title": "Limit"
            },
            "description": "Max items per page"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque cursor from a previous page's next_cursor",
              "title": "Cursor"
            },
            "description": "Opaque cursor from a previous page's next_cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LessonListV1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "lessons:write"
        ]
      }
    },
    "/api/v1/lessons/{lesson_id}/view-url": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Lesson View Url Route",
        "description": "Mint a short-lived URL to open the lesson (owner only, HTML format\nonly - native documents open in the app). The HTML is served inline as\ntext/html from the storage origin, isolated from the app.\n\n**Requires scope:** `lessons:write`",
        "operationId": "lesson_view_url_route_api_v1_lessons__lesson_id__view_url_get",
        "parameters": [
          {
            "name": "lesson_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lesson Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LessonViewUrlV1"
                }
              }
            }
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "lessons:write"
        ]
      }
    },
    "/api/v1/lessons/{lesson_id}": {
      "delete": {
        "tags": [
          "public-v1"
        ],
        "summary": "Delete Lesson Route",
        "description": "Delete one lesson: its stored HTML object and its row (owner only).\n\n**Requires scope:** `lessons:write`",
        "operationId": "delete_lesson_route_api_v1_lessons__lesson_id__delete",
        "parameters": [
          {
            "name": "lesson_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lesson Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "404": {
            "description": "Not found or not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "403": {
            "description": "The token lacks the scope this endpoint requires",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. The `Retry-After` response header gives the number of seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorV1"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "lessons:write"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AddCardRequest": {
        "properties": {
          "deck_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Deck Id",
            "description": "Target deck id (see GET /decks); omit to use the deck for the card's submission. When given, it must belong to that submission."
          },
          "kind": {
            "type": "string",
            "enum": [
              "vocab",
              "custom"
            ],
            "title": "Kind",
            "description": "vocab = from your vocabulary; custom = freeform front/back"
          },
          "lemma": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 200
              },
              {
                "type": "null"
              }
            ],
            "title": "Lemma",
            "description": "Dictionary form (kind=vocab)"
          },
          "pos": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 20
              },
              {
                "type": "null"
              }
            ],
            "title": "Pos",
            "description": "Part of speech, to disambiguate (kind=vocab); case-insensitive"
          },
          "submission_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Submission Id",
            "description": "Disambiguate the lemma to one submission (kind=vocab); the source submission the card anchors to (REQUIRED for kind=custom). The card is deleted if that submission is later deleted."
          },
          "front": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 200
              },
              {
                "type": "null"
              }
            ],
            "title": "Front",
            "description": "Front/prompt text (kind=custom)"
          },
          "back": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 500
              },
              {
                "type": "null"
              }
            ],
            "title": "Back",
            "description": "Back/answer text (kind=custom)"
          },
          "note": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 300
              },
              {
                "type": "null"
              }
            ],
            "title": "Note",
            "description": "Optional note (kind=custom)"
          },
          "sentence_position": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Sentence Position",
            "description": "Optional 1-based transcript position (see GET /transcript) to anchor a custom card to a specific sentence, so the exported card shows that sentence and its native audio. Defaults to the submission's first sentence (kind=custom)."
          }
        },
        "type": "object",
        "required": [
          "kind"
        ],
        "title": "AddCardRequest",
        "description": "Add a card to the learner's SRS (their system of record for word knowledge).\n\n``kind=vocab`` adds a word the learner already has in their vocabulary,\nresolved by ``lemma`` across their accessible content (pass ``submission_id``\nto disambiguate a lemma that appears in several episodes, or ``pos`` when it\nappears under several parts of speech). ``kind=custom`` adds a freeform\nfront/back card anchored to a submission.\n\nOmit ``deck_id`` to add to the deck for the card's own submission - the same\ndeck the app builds and reviews from - so the card is immediately visible,\nreviewable and exportable. Pass ``deck_id`` (from GET /decks) to target a\nspecific deck; it must be one of yours and must belong to the same\nsubmission the card anchors to."
      },
      "AudioSlice": {
        "properties": {
          "start": {
            "type": "number",
            "minimum": 0.0,
            "title": "Start",
            "description": "Clip start in seconds"
          },
          "end": {
            "type": "number",
            "exclusiveMinimum": 0.0,
            "title": "End",
            "description": "Clip end in seconds"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "start",
          "end"
        ],
        "title": "AudioSlice",
        "description": "A [start, end) window into the source submission's ORIGINAL audio.\n\nPlayback is range-seek on the submission's own stream, exactly as Listen\nplays sentences and loop ranges. No derived clip files exist anywhere in\nthe native lesson pipeline (no ffmpeg cutting, no stored bytes).\n\ninf/nan are rejected: they pass ge/gt checks but canonical serialisation\nemits them as null, which bricks every later re-read of the stored\ndocument (a permanent 500 on the document/export routes)."
      },
      "AudioSliceBlock": {
        "properties": {
          "type": {
            "type": "string",
            "const": "audio_slice",
            "title": "Type"
          },
          "audio": {
            "$ref": "#/components/schemas/AudioSlice"
          },
          "label": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 120,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Label"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type",
          "audio"
        ],
        "title": "AudioSliceBlock",
        "description": "A standalone player row (e.g. the whole-passage first listen)."
      },
      "AudioUrlV1": {
        "properties": {
          "url": {
            "type": "string",
            "title": "Url",
            "description": "Presigned URL for the full audio file"
          },
          "expires_in": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires In",
            "description": "Seconds until the URL expires"
          }
        },
        "type": "object",
        "required": [
          "url"
        ],
        "title": "AudioUrlV1",
        "description": "A short-lived direct URL to the native audio (supports HTTP Range)."
      },
      "CardExampleV1": {
        "properties": {
          "sentence_position": {
            "type": "integer",
            "minimum": 1.0,
            "title": "Sentence Position",
            "description": "1-based transcript position (see GET /transcript) of the example sentence the card anchors to."
          },
          "focus_span": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 150,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Focus Span",
            "description": "VERBATIM substring of that sentence (the exact surface form, not the dictionary form: 'habe', not 'haben'). Drives the highlight/blur painting and, when word timings exist, the native audio clip of just this span. REQUIRED for grammar/cloze/collocation/contrast/production (it is the hidden answer); optional for the lexical kinds and qa."
          }
        },
        "type": "object",
        "required": [
          "sentence_position"
        ],
        "title": "CardExampleV1",
        "description": "The transcript anchor for a card.v1 card. The sentence supplies the\nexample text, its translation, and its native audio; the focus span locates\nthe target inside it."
      },
      "CardProblemV1": {
        "properties": {
          "code": {
            "type": "string",
            "title": "Code",
            "description": "Stable machine-readable code (e.g. focus_span_no_timings, context_position_unknown, direction_ignored)"
          },
          "field": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Field",
            "description": "Offending request field"
          },
          "detail": {
            "type": "string",
            "title": "Detail",
            "description": "What happened and how to fix it"
          }
        },
        "type": "object",
        "required": [
          "code",
          "detail"
        ],
        "title": "CardProblemV1",
        "description": "One non-fatal issue the server auto-corrected or degraded while saving a\ncard.v1 card. Returned so a generating agent can fix its input and resend."
      },
      "CardResultV1": {
        "properties": {
          "deck_id": {
            "type": "integer",
            "title": "Deck Id",
            "description": "Deck the card was added to"
          },
          "card_id": {
            "type": "integer",
            "title": "Card Id",
            "description": "New deck-card id (forward card)"
          },
          "card_type": {
            "type": "string",
            "title": "Card Type",
            "description": "Stored card type (vocab or expression)"
          },
          "state": {
            "type": "string",
            "title": "State",
            "description": "FSRS state (always 'new' for a fresh card)"
          },
          "card_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Card Ids",
            "description": "All created/updated card ids (forward first, then the reverse twin when one exists). card.v1 only."
          },
          "created": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created",
            "description": "False when an existing card with the same (deck, headword) was updated in place, preserving its review history. card.v1 only."
          },
          "problems": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/CardProblemV1"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Problems",
            "description": "Non-fatal issues auto-corrected while saving (card.v1 only); fix and resend to clear them."
          }
        },
        "type": "object",
        "required": [
          "deck_id",
          "card_id",
          "card_type",
          "state"
        ],
        "title": "CardResultV1",
        "description": "The card(s) created by POST /cards."
      },
      "CardV1Request": {
        "properties": {
          "format": {
            "type": "string",
            "const": "card.v1",
            "title": "Format",
            "description": "Fixed discriminator; omit the field to use the legacy vocab/custom body instead."
          },
          "deck_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Deck Id",
            "description": "Target deck id (see GET /decks); omit to use the deck for the card's submission. When given, it must belong to that submission."
          },
          "submission_id": {
            "type": "string",
            "title": "Submission Id",
            "description": "The source submission the card anchors to. The card is deleted if that submission is later deleted."
          },
          "kind": {
            "type": "string",
            "enum": [
              "word",
              "phrase",
              "collocation",
              "idiom",
              "chunk",
              "grammar",
              "cloze",
              "contrast",
              "qa",
              "production"
            ],
            "title": "Kind",
            "description": "Card kind; see the model description."
          },
          "headword": {
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "title": "Headword",
            "description": "Citation form shown on the card (include the article for gendered nouns: 'die Landschaft'). For qa this is the question."
          },
          "translation": {
            "type": "string",
            "maxLength": 500,
            "minLength": 1,
            "title": "Translation",
            "description": "Learner-language gloss (lexical kinds), the answer (qa), or the meaning prompt (production)."
          },
          "note": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 300
              },
              {
                "type": "null"
              }
            ],
            "title": "Note",
            "description": "One-line 'why' shown on the back note rail."
          },
          "hint": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 160
              },
              {
                "type": "null"
              }
            ],
            "title": "Hint",
            "description": "Optional on-demand hint (stored; surfaced by clients that support hint reveal)."
          },
          "cefr": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "A1",
                  "A2",
                  "B1",
                  "B2",
                  "C1",
                  "C2"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Cefr",
            "description": "Optional CEFR level tag (stored in card_meta)."
          },
          "example": {
            "$ref": "#/components/schemas/CardExampleV1",
            "description": "Transcript anchor (required)."
          },
          "context_positions": {
            "items": {
              "type": "integer"
            },
            "type": "array",
            "maxItems": 4,
            "title": "Context Positions",
            "description": "Optional neighbouring sentence positions shown as framing context (1-based). Unknown positions are dropped and reported as problems."
          },
          "options": {
            "items": {
              "type": "string",
              "maxLength": 80,
              "minLength": 1
            },
            "type": "array",
            "maxItems": 3,
            "title": "Options",
            "description": "Contrast only: the confusable choices (2-3)."
          },
          "correct": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 80
              },
              {
                "type": "null"
              }
            ],
            "title": "Correct",
            "description": "Contrast only: the right option; must be one of options."
          },
          "question": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 200
              },
              {
                "type": "null"
              }
            ],
            "title": "Question",
            "description": "qa only: overrides headword as the displayed question."
          },
          "direction": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "both",
                  "forward"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Direction",
            "description": "Lexical kinds only: 'both' (default, forward + reverse pair) or 'forward'. Study kinds are always forward-only."
          }
        },
        "type": "object",
        "required": [
          "format",
          "submission_id",
          "kind",
          "headword",
          "translation",
          "example"
        ],
        "title": "CardV1Request",
        "description": "Create a fully-featured card from declarative anchors (format card.v1).\n\nThe caller supplies WHAT to teach (kind, headword, translation, note) and\nWHERE it lives in the recording (sentence position + verbatim focus span);\nthe server derives everything that makes native cards look good: the\nper-word highlight/blur map, the native-audio clip of the focus span, and\nthe forward+reverse pair for lexical kinds. Anchors are verified against\nthe stored transcript - a paraphrased example is rejected, never saved.\n\nKinds: word | phrase | collocation | idiom | chunk (lexical; forward +\nreverse pair, the headword is shown as a vocab-style entry) and grammar |\ncloze | contrast | qa | production (study kinds; forward-only, rendered\nwith a type chip and per-kind chrome). For grammar-family kinds the focus\nspan is the answer and is blurred in the example."
      },
      "CollectionRefV1": {
        "properties": {
          "slug": {
            "type": "string",
            "title": "Slug",
            "description": "URL-safe collection identifier"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Human-readable collection name"
          }
        },
        "type": "object",
        "required": [
          "slug",
          "name"
        ],
        "title": "CollectionRefV1",
        "description": "The collection a piece of content belongs to."
      },
      "DeckExportStartV1": {
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ready",
              "queued"
            ],
            "title": "Status",
            "description": "ready = a fresh .apkg is already cached (poll for the URL); queued = generation started, poll the status route for the download URL"
          },
          "poll": {
            "type": "string",
            "title": "Poll",
            "description": "Poll this path for the download URL"
          }
        },
        "type": "object",
        "required": [
          "status",
          "poll"
        ],
        "title": "DeckExportStartV1",
        "description": "Result of triggering a deck export."
      },
      "DeckExportStatusV1": {
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ready",
              "pending",
              "failed",
              "none"
            ],
            "title": "Status",
            "description": "ready = download_url available; pending = generating; failed = generation failed, retry; none = never triggered"
          },
          "download_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Download Url",
            "description": "Presigned direct download for the .apkg, when status=ready"
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "DeckExportStatusV1",
        "description": "Current state of a deck's Anki export."
      },
      "DeckListV1": {
        "properties": {
          "decks": {
            "items": {
              "$ref": "#/components/schemas/DeckSummaryV1"
            },
            "type": "array",
            "title": "Decks",
            "description": "Decks"
          }
        },
        "type": "object",
        "required": [
          "decks"
        ],
        "title": "DeckListV1",
        "description": "The learner's decks, newest activity first."
      },
      "DeckSummaryV1": {
        "properties": {
          "id": {
            "type": "integer",
            "title": "Id",
            "description": "Deck id (use as deck_id when adding/exporting)"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Deck name"
          },
          "learning_language": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Learning Language",
            "description": "Language of the deck's cards (ISO 639-1)"
          },
          "source_submission_title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Submission Title",
            "description": "Title of the submission this deck was auto-created from, if any"
          },
          "total_cards": {
            "type": "integer",
            "title": "Total Cards",
            "description": "Total cards in the deck"
          },
          "new_cards": {
            "type": "integer",
            "title": "New Cards",
            "description": "Cards still in the FSRS 'new' state"
          },
          "due_cards": {
            "type": "integer",
            "title": "Due Cards",
            "description": "Cards due for review now"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "total_cards",
          "new_cards",
          "due_cards"
        ],
        "title": "DeckSummaryV1",
        "description": "One of the learner's study decks, for discovering deck ids to add to or\nexport."
      },
      "DialogueBlock": {
        "properties": {
          "type": {
            "type": "string",
            "const": "dialogue",
            "title": "Type"
          },
          "lines": {
            "items": {
              "$ref": "#/components/schemas/DialogueLine"
            },
            "type": "array",
            "maxItems": 30,
            "minItems": 1,
            "title": "Lines"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type",
          "lines"
        ],
        "title": "DialogueBlock",
        "description": "The transcript slice as a dialogue."
      },
      "DialogueLine": {
        "properties": {
          "position": {
            "type": "integer",
            "minimum": 1.0,
            "title": "Position",
            "description": "1-based transcript position"
          },
          "speaker": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 50
              },
              {
                "type": "null"
              }
            ],
            "title": "Speaker"
          },
          "text": {
            "type": "string",
            "maxLength": 1000,
            "minLength": 1,
            "title": "Text"
          },
          "translation": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 1000,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Translation"
          },
          "highlights": {
            "items": {
              "items": {
                "type": "integer"
              },
              "type": "array"
            },
            "type": "array",
            "maxItems": 8,
            "title": "Highlights"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "position",
          "text"
        ],
        "title": "DialogueLine",
        "description": "One transcript sentence presented as a dialogue line.\n\n``position`` anchors the line to the stored sentence (the save route\nverifies ``text`` matches it, so a lesson cannot misattribute content to\nthe recording). ``highlights`` are [start, end) CODE-POINT ranges into\n``text`` for the amber pattern marks (both renderers treat them as code\npoints; supplementary-plane characters count as one). Ranges must not\noverlap - both renderers would otherwise duplicate the overlapped text."
      },
      "ErrorV1": {
        "properties": {
          "detail": {
            "type": "string",
            "title": "Detail",
            "description": "Human-readable error message"
          },
          "code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Code",
            "description": "Stable machine-readable error code, present when the failure has one a client may branch on (e.g. ambiguous_lemma, duplicate_card, lesson_cap). Absent for errors without a specific code."
          }
        },
        "type": "object",
        "required": [
          "detail"
        ],
        "title": "ErrorV1",
        "description": "The uniform error body for every /api/v1 failure."
      },
      "ExerciseGapFillBlock": {
        "properties": {
          "type": {
            "type": "string",
            "const": "exercise_gap_fill",
            "title": "Type"
          },
          "title": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 120,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "instruction": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 300,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Instruction"
          },
          "wordbank": {
            "anyOf": [
              {
                "items": {
                  "type": "string",
                  "maxLength": 60,
                  "minLength": 1
                },
                "type": "array",
                "maxItems": 12
              },
              {
                "type": "null"
              }
            ],
            "title": "Wordbank"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/GapFillItem"
            },
            "type": "array",
            "maxItems": 10,
            "minItems": 1,
            "title": "Items"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type",
          "items"
        ],
        "title": "ExerciseGapFillBlock",
        "description": "Gap-fill, optionally cued by a word bank."
      },
      "ExerciseMatchBlock": {
        "properties": {
          "type": {
            "type": "string",
            "const": "exercise_match",
            "title": "Type"
          },
          "title": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 120,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "instruction": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 300,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Instruction"
          },
          "pairs": {
            "items": {
              "$ref": "#/components/schemas/MatchPair"
            },
            "type": "array",
            "maxItems": 8,
            "minItems": 2,
            "title": "Pairs"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type",
          "pairs"
        ],
        "title": "ExerciseMatchBlock",
        "description": "Ordne zu: match words to meanings."
      },
      "ExerciseMcqBlock": {
        "properties": {
          "type": {
            "type": "string",
            "const": "exercise_mcq",
            "title": "Type"
          },
          "title": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 120,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "instruction": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 300,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Instruction"
          },
          "prompt": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 500,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Prompt"
          },
          "audio": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AudioSlice"
              },
              {
                "type": "null"
              }
            ]
          },
          "position": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1.0,
                "description": "1-based transcript position"
              },
              {
                "type": "null"
              }
            ],
            "title": "Position"
          },
          "options": {
            "items": {
              "type": "string",
              "maxLength": 300,
              "minLength": 1
            },
            "type": "array",
            "maxItems": 5,
            "minItems": 2,
            "title": "Options"
          },
          "correct": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Correct",
            "description": "0-based index into options"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type",
          "options",
          "correct"
        ],
        "title": "ExerciseMcqBlock",
        "description": "Multiple choice (recognition or listening comprehension when ``audio``\nis present)."
      },
      "ExerciseProductionBlock": {
        "properties": {
          "type": {
            "type": "string",
            "const": "exercise_production",
            "title": "Type"
          },
          "title": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 120,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "instruction": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 300,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Instruction"
          },
          "prompt": {
            "type": "string",
            "maxLength": 500,
            "minLength": 1,
            "title": "Prompt"
          },
          "model_answer": {
            "type": "string",
            "maxLength": 1000,
            "minLength": 1,
            "title": "Model Answer"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type",
          "prompt",
          "model_answer"
        ],
        "title": "ExerciseProductionBlock",
        "description": "Free production on ruled lines with a blurred model answer."
      },
      "FsrsSummaryV1": {
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "new",
              "learning",
              "review",
              "relearning"
            ],
            "title": "State",
            "description": "Most advanced state across the word's cards: new | learning | review | relearning"
          },
          "stability": {
            "type": "number",
            "title": "Stability",
            "description": "Highest FSRS stability (days) across cards"
          },
          "difficulty": {
            "type": "number",
            "title": "Difficulty",
            "description": "FSRS difficulty of the most advanced card (0-10 scale)"
          },
          "due": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Due",
            "description": "Earliest next-review time across the word's non-new cards; null when every card is still new (a new card has no scheduled due)"
          },
          "reps": {
            "type": "integer",
            "title": "Reps",
            "description": "Total reviews across the cards (all ratings)"
          },
          "lapses": {
            "type": "integer",
            "title": "Lapses",
            "description": "Total lapses (Again ratings) across the cards"
          },
          "last_review": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Review",
            "description": "Most recent review time, or null if never reviewed"
          }
        },
        "type": "object",
        "required": [
          "state",
          "stability",
          "difficulty",
          "reps",
          "lapses"
        ],
        "title": "FsrsSummaryV1",
        "description": "A learner's spaced-repetition state for one word, aggregated across all\nthe cards they hold for it (a word can have several card variants)."
      },
      "GapFillItem": {
        "properties": {
          "position": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1.0,
                "description": "1-based transcript position"
              },
              {
                "type": "null"
              }
            ],
            "title": "Position"
          },
          "text": {
            "type": "string",
            "maxLength": 500,
            "minLength": 1,
            "title": "Text"
          },
          "answers": {
            "items": {
              "items": {
                "type": "string",
                "maxLength": 60,
                "minLength": 1
              },
              "type": "array"
            },
            "type": "array",
            "maxItems": 5,
            "minItems": 1,
            "title": "Answers"
          },
          "translation": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 500,
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Translation"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "text",
          "answers"
        ],
        "title": "GapFillItem",
        "description": "One sentence with {{n}} gap tokens; ``answers[n-1]`` lists the accepted\nalternatives for gap n."
      },
      "GrammarBoxBlock": {
        "properties": {
          "type": {
            "type": "string",
            "const": "grammar_box",
            "title": "Type"
          },
          "title": {
            "type": "string",
            "maxLength": 120,
            "minLength": 1,
            "title": "Title"
          },
          "explanation": {
            "type": "string",
            "maxLength": 1500,
            "minLength": 1,
            "title": "Explanation"
          },
          "evidence": {
            "items": {
              "$ref": "#/components/schemas/GrammarEvidence"
            },
            "type": "array",
            "maxItems": 8,
            "title": "Evidence"
          },
          "merke": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 350
              },
              {
                "type": "null"
              }
            ],
            "title": "Merke"
          },
          "achtung": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 350
              },
              {
                "type": "null"
              }
            ],
            "title": "Achtung"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type",
          "title",
          "explanation"
        ],
        "title": "GrammarBoxBlock",
        "description": "The one-point-per-lesson rule box, wearing the Ask AI callout grammar:\nevidence rows (the breakdown), a Merke takeaway, an Achtung watch-out."
      },
      "GrammarEvidence": {
        "properties": {
          "position": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1.0,
                "description": "1-based transcript position"
              },
              {
                "type": "null"
              }
            ],
            "title": "Position"
          },
          "text": {
            "type": "string",
            "maxLength": 300,
            "minLength": 1,
            "title": "Text"
          },
          "note": {
            "type": "string",
            "maxLength": 200,
            "minLength": 1,
            "title": "Note"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "text",
          "note"
        ],
        "title": "GrammarEvidence",
        "description": "One evidence row: a piece of the actual passage plus why it matters."
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "LessonCreateRequest": {
        "properties": {
          "title": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 255
              },
              {
                "type": "null"
              }
            ],
            "title": "Title",
            "description": "Lesson title (required with 'html'; ignored with 'document')"
          },
          "language": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 10
              },
              {
                "type": "null"
              }
            ],
            "title": "Language",
            "description": "ISO 639-1 code (required with 'html'; ignored with 'document')"
          },
          "html": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Html",
            "description": "The complete self-contained HTML (legacy lesson format)"
          },
          "document": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/LessonDocumentV1"
              },
              {
                "type": "null"
              }
            ],
            "description": "A structured lesson.v1 document (native in-app lesson)"
          },
          "source_submission_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string",
                  "maxLength": 36
                },
                "type": "array",
                "maxItems": 50
              },
              {
                "type": "null"
              }
            ],
            "title": "Source Submission Ids",
            "description": "Optional provenance: the submissions the lesson was built from (up to 50 ids, each a 36-char submission id)"
          }
        },
        "type": "object",
        "title": "LessonCreateRequest",
        "description": "Save a lesson: EITHER a single self-contained HTML file (up to 10 MB,\nlegacy path) OR a structured lesson.v1 ``document`` (rendered natively by\nthe app with crosslinks into Listen/Words). Exactly one of ``html`` /\n``document`` must be set. For documents, title/language/source come from\nthe document itself and the top-level fields are ignored."
      },
      "LessonCreatedV1": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Lesson id"
          },
          "title": {
            "type": "string",
            "title": "Title",
            "description": "Lesson title"
          },
          "language": {
            "type": "string",
            "title": "Language",
[...]
